/* global */ 

$paragraph: #323232;
$text-label: #AFAFAF;
$text-border: #E1E1E1;
$text-bg-fill: #FAFAFA;
$white: #fff;

/* instock colors */

/* nav bg fill in instock is the same as $paragraph */
$primary-cta-link: #004892;
$primary-cta-hover: #002F5F;

/* brainflix */

/* nav bg fill in brainflix is the same as $paragraph */
$primary-text-link: #0095FF;
$primary-hover: #0065AD;

/* bandsite */

/* nav bg fill and primary CTA in bandsite is the same as $paragraph */
/* primary hover in bandsite is the same as brainflix */