.comments {
  margin: 2rem 1rem 2.5rem;
  &__title {
    @include mobile-header;
    margin-bottom: 2.5rem;
  }
  &__form {
    display: flex;
    justify-content: center;
    border-bottom: 0.0625rem solid $text-border;
    width: 100%;
  }
  &__headshot-position {
    margin: 1rem 1rem 0 0;
  }
  &__headshot-img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
  &__form-container {
    &--title {
      @include mobile-labels;
      color: $text-label;
    }
    &--input {
      border-radius: 0.25rem;
      border: 0.0625rem solid $text-border;
      width: 70vw;
      margin-bottom: 1rem;
      display: flex;
      &.small {
        height: 2.5rem;
      }
      &.large {
        height: 7.8125rem;
        resize: vertical;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        border-color: $black;
      }
    }
    &--button {
      padding-bottom: 2rem;
      #button {
        @include mobile-subheader;
        border-radius: 0.25rem;
        border: 0.0625rem solid $paragraph;
        color: $white;
        background-color: $paragraph;
        width: 70vw;
        height: 10vw;
        transition: background-color 0.5s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: $black;
        }
      }
    }
  }
  .comments-container {
    &__holder {
      display: flex;
      border-bottom: 0.0625rem solid $text-border;
      &--icon {
        border-radius: 50%;
        background: $text-border;
        width: 3rem;
        height: 3rem;
        margin-top: 1.5rem;
        flex-shrink: 0;
      }
    }
    &--holder {
      display: flex;
      flex-direction: column;
      margin-left: 1em;
      margin-bottom: 1.5rem;
      flex-grow: 2;
    }
    &__name-and-date {
      clear: both;
      display: flex;
      justify-content: space-between;
    }
    &__name {
      @include mobile-subheader;
      margin-top: 1.5rem;
    }
    &__date {
      @include mobile-labels;
      color: $text-label;
      font-family: AvenirRegular;
      align-self: flex-end;
    }
    &__comment {
      @include mobile-paragraph;
      margin: 0;
    }
    &__delete {
      align-self: flex-end;
      .delete {
        border-radius: 10rem;
        border: 0.0625rem solid $text-label;
        background-color: $text-label;
        color: $white;
      }
    }
  }
}

@include medium {
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem 1.5rem;
    &__title {
      @include desk-tablet-header;
      margin-bottom: 2.5rem;
      align-self: flex-start;
    }
    &__form {
      width: 70%;
      display: flex;
    }
    &__form-container {
      width: 70%;
      &--input {
        align-self: center;
        width: 100%;
        &.small {
          height: 2.5rem;
        }
        &.large {
          height: 5rem;
        }
      }
      &--button {
        display: flex;
        justify-content: flex-end;
        #button {
          width: 11vw;
          height: 3vw;
        }
      }
    }
    .comments-container {
      width: 50%;
      &__name-and-date {
        justify-content: flex-start;
      }
      &__date {
        margin-left: 1em;
      }
    }
  }
}

@include huge {
  .comments {
    margin: 3rem 11.25rem 2.5rem;
    &__form-input {
      width: 32vw;
      margin-bottom: 1.5rem;
      &.small {
        height: 3rem;
      }
      &.large {
        height: 6rem;
      }
    }
    &__form-title {
      padding-left: 10.5vw;
      align-self: flex-start;
    }
    &__form-button {
      padding-right: 10.5vw;
    }
    .comments-container {
      width: 37vw;
      &__holder--icon {
        margin-top: 1.5rem;
        margin-right: 1rem;
      }
    }
  }
}
