.comments {
  margin: 32px 16px 40px;
  &__title {
    @include mobile-header;
    margin-bottom: 40px;
  }
  &__form {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $text-border;
    width: 100%;
  }
  &__headshot-position {
    margin: 16px 16px 0 0;
  }
  &__headshot-img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
  }
  &__form-container {
    &--title {
      @include mobile-labels;
      color: $text-label;
    }
    &--input {
      border-radius: 4px;
      border: 1px solid $text-border;
      width: 70vw;
      margin-bottom: 16px;
      display: flex;
      &.small {
        height: 10vw;
      }
      &.large {
        height: 40vw;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        border-color: $black;
      }
    }
    &--button {
      padding-bottom: 32px;
      #button {
        @include mobile-subheader;
        border-radius: 4px;
        border: 1px solid $paragraph;
        color: $white;
        background-color: $paragraph;
        width: 70vw;
        height: 10vw;
        transition: background-color 0.5s ease-in-out;
        &:hover {
          cursor: pointer;
          background-color: $black;
        }
      }
    }
  }
  .comments-container {
    &__holder {
      display: flex;
      border-bottom: 1px solid $text-border;
      &--icon {
        border-radius: 50%;
        background: $text-border;
        width: 48px;
        height: 48px;
        margin-top: 24px;
        flex-shrink: 0;
      }
    }
    &--holder {
      display: flex;
      flex-direction: column;
      margin-left: 1em;
    }
    &__name-and-date {
      clear: both;
      display: flex;
      justify-content: space-between;
    }
    &__name {
      @include mobile-subheader;
      margin-top: 24px;
    }
    &__date {
      @include mobile-labels;
      color: $text-label;
      font-family: AvenirRegular;
      align-self: flex-end;
    }
    &__comment {
      @include mobile-paragraph;
      margin: 16px 0 24px;
    }
  }
}

@include medium {
  .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 24px;
    &__title {
      @include desk-tablet-header;
      margin-bottom: 40px;
      align-self: flex-start;
    }
    &__form {
      width: 70%;
      display: flex;
    }
    &__form-container {
      width: 70%;
      &--input {
        align-self: center;
        width: 100%;
        &.small {
          height: 5vw;
        }
        &.large {
          height: 10vw;
        }
      }
      &--button {
        display: flex;
        justify-content: flex-end;
        #button {
          width: 11vw;
          height: 3vw;
        }
      }
    }
    .comments-container {
      width: 70%;
      &__name-and-date {
        justify-content: flex-start;
      }
      &__date {
        margin-left: 1em;
      }
    }
  }
}

@include huge {
  .comments {
    margin: 48px 180px 40px;
    &__form-input {
      width: 32vw;
      margin-bottom: 24px;
      &.small {
        height: 3vw;
      }
      &.large {
        height: 7vw;
      }
    }
    &__form-title {
      padding-left: 10.5vw;
      align-self: flex-start;
    }
    &__form-button {
      padding-right: 10.5vw;
    }
    .comments-container {
      border-top: 1px solid $text-border;
      width: 37vw;
      &__holder--icon {
        margin-top: 24px;
        margin-right: 16px;
      }
    }
  }
}
