.hero-shows {
  background-image: url("../assets/images/mathew-schwartz-5RHbXOXNd5w-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 29.5rem;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__small-title {
    @include mobile-subheader;
    padding: 4rem 0 0.625rem;
    margin: 0;
    color: $text-bg-fill;
  }
  &__large-title {
    @include mobile-header;
    padding-bottom: 4rem;
    margin: 0;
    color: $text-bg-fill;
    width: 85%;
  }
}

@include medium {
  .hero-shows {
    padding: 0 1.5rem;
    height: 41.875rem;
    &__iframe {
      width: 50%;
      align-self: flex-start;
    }
    &__small-title {
      @include desk-tablet-header-smaller;
      padding: 6rem 0 1.25rem;
    }
    &__large-title {
      @include desk-tablet-hero;
      width: 70%;
    }
  }
}

@include huge {
  .hero-shows {
    padding: 0 11.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &__container {
      height: 429px;
      &--bottom {
        align-self: center;
      }
    }
    &__iframe {
      width: 436px;
      height: 146px;
    }
    &__small-title {
      padding: 10rem 0 3rem;
      @include desk-tablet-header;
    }
    &__large-title {
      margin-right: 4rem;
      width: unset;
    }
  }
}
