.shows {
  margin: 2rem 1rem 1.875rem;
  &__title {
    @include mobile-header;
    margin: 0 0 2.5rem;
  }
  &__huge-bottom--header {
    display: none;
  }
  &__div {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.25rem;
    &--header {
      margin: 0 0 1rem;
      @include mobile-labels;
      color: $text-label;
    }
    &--date {
      margin: 0 0 1.5rem;
      @include mobile-subheader;
    }
    &--venueCityLocation {
      margin: 0 0 2rem;
      @include mobile-paragraph;
    }
    &--button-container {
      align-self: center;
      border-bottom: 0.0625rem solid $text-border;
      padding: 0 0 1rem;
    }
    &--button {
      background-color: $paragraph;
      width: 90vw;
      height: 15vw;
      color: $white;
      border-radius: 0.25rem;
      transition: background-color 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: $black;
      }
    }
  }
}

@include medium {
  .shows {
    margin: 0 1.5rem 1.875rem;
    &__title {
      @include desk-tablet-header;
      margin: 2.1875rem 0 0;
    }
    &__huge-bottom {
      display: unset;
      &--header {
        display: flex;
        justify-content: space-between;
      }
      &--header-title {
        color: $text-label;
        @include desk-tablet-labels;
        font-family: AvenirDemi;
        width: 20vw;
        &.hidden {
          visibility: hidden;
        }
      }
    }
    &__div {
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 0.0625rem solid $text-border;
      &--header {
        display: none;
      }
      &--venueCityLocation,
      &--date {
        align-self: center;
        width: 15vw;
        margin-bottom: 1.5rem;
      }
      &--button-container {
        border-bottom: unset;
      }
      &--button {
        width: 20vw;
        height: 5vw;
      }
    }
  }
}

@include huge {
  .shows {
    margin: 0 11.25rem 3.125rem;
    display: flex;
    justify-content: space-between;
    &__title {
      margin-top: 3rem;
    }
    &__huge-bottom {
      margin-top: 1.25rem;
      margin-left: auto;

      &--header-title {
        margin-bottom: 2.5rem;
        width: 10vw;
      }
    }
    &__div {
      width: 56vw;
      &--venueCityLocation,
      &--date {
        width: 10em;
      }
      &--button {
        width: 11vw;
        height: 3vw;
      }
    }
  }
}
