@font-face {
  font-family: 'AvenirRegular';
  src: url("../assets/fonts/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: 'AvenirBold';
  src: url("../assets/fonts/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: 'AvenirDemi';
  src: url("../assets/fonts/AvenirNextLTProDemi.otf");
}

/* mobile-lists-contact info same as mobile-paragraph */
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: AvenirRegular;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* global */
/* instock colors */
/* nav bg fill in instock is the same as $paragraph */
/* brainflix */
/* nav bg fill in brainflix is the same as $paragraph */
/* bandsite */
/* nav bg fill and primary CTA in bandsite is the same as $paragraph */
/* primary hover in bandsite is the same as brainflix */
/* media query for mobile 

@mixin small {
    @media only screen and (max-width: 767px) {
        @content;
    }
} */
/* media query for tablet */
/* media query for landscape, medium px density desktop 

@mixin large {
    @media only screen and (min-width: 1024px) {
        @content;
    }
} */
/* media query for high px density desktop */
.header {
  background-color: #323232;
  height: 80px;
  width: 100%;
}

.header__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.header__title--image {
  width: 125px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  width: 50%;
  text-align: center;
  color: #AFAFAF;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirDemi;
  border-bottom: 4px solid transparent;
}

.header__nav-item:hover {
  cursor: pointer;
  border-bottom: 4px solid #fff;
}

.header__nav-item.active {
  cursor: pointer;
  border-bottom: 4px solid #fff;
}

@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 24px;
  }
  .header__nav-item {
    margin-left: 50px;
    width: 70px;
    font-size: 16px;
    line-height: 24px;
    font-family: AvenirDemi;
    padding: 25.5px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    width: 100%;
    padding-left: 180px;
  }
  .header__nav-item {
    margin-left: 56px;
    width: 80px;
  }
}

.hero {
  width: 100%;
  height: 57vw;
  background-image: url("../assets/Images/photo6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  margin-left: 16px;
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirBold;
  color: #fff;
  width: 70%;
}

.hero__title__overlay {
  width: 100%;
  height: 183px;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 400px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 68px;
    font-family: AvenirBold;
    margin-left: 24px;
  }
  .hero__title__overlay {
    height: 400px;
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    height: 670px;
  }
  .hero__title {
    margin-left: 180px;
    width: 45%;
  }
  .hero__title__overlay {
    height: 670px;
    width: 100%;
  }
}

.about {
  font-size: 24px;
  line-height: 32px;
  font-family: AvenirBold;
  margin-left: 16px;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 24px;
}

.about__image {
  text-align: center;
}

.about__image--size {
  width: 90vw;
}

.about__quote {
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirDemi;
  margin-top: 24px;
  margin-bottom: 32px;
}

.about__quote--artist {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirDemi;
}

.about__artist {
  font-size: 14px;
  line-height: 22px;
  font-family: AvenirDemi;
  margin: 40px 0 24px;
}

.about__container {
  font-size: 13px;
  line-height: 18px;
  font-family: AvenirRegular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__container--paragraph {
  margin: 0 0 40px;
}

@media only screen and (min-width: 768px) {
  .about {
    margin: 0 24px;
  }
  .about__title {
    font-size: 36px;
    line-height: 44px;
    font-family: AvenirBold;
    margin-top: 60px;
    margin-bottom: 40px;
  }
  .about__image--size {
    width: 94vw;
    height: 47vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__quote {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirBold;
  }
  .about__quote--artist {
    font-size: 16px;
    line-height: 24px;
    font-family: AvenirDemi;
    font-family: AvenirDemi;
  }
  .about__artist {
    font-size: 24px;
    line-height: 32px;
    font-family: AvenirBold;
  }
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__container--paragraph.left {
    margin-right: 12px;
  }
  .about__container--paragraph.right {
    margin-left: 12px;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    margin: 0 180px;
  }
  .about__title {
    margin: 48px 0;
  }
  .about__image--size {
    width: 62vw;
    height: 31vw;
  }
  .about__quote {
    margin: 48px 92px 40px;
  }
  .about__quote--artist {
    margin: 0 92px;
  }
  .about__artist {
    margin: 56px 92px 32px;
  }
  .about__container--paragraph {
    width: 29vw;
  }
  .about__container--paragraph.left {
    margin: 0 20px 48px 92px;
  }
  .about__container--paragraph.right {
    margin: 0 92px 48px 20px;
  }
}
/*# sourceMappingURL=main.css.map */