@import './partials/fonts';

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AvenirRegular;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import './partials/colors';
@import './partials/breakpoints';
@import './partials/header';
@import './partials/hero';
@import './partials/about';
@import './partials/photo-gallery';
@import './partials/footer';