/* global */ 

$paragraph: #323232;
$text-label: #AFAFAF;
$text-border: #E1E1E1;
$text-bg-fill: #FAFAFA;
$white: #fff;
$black: #000;

/* instock colors */

$primary-cta-link: #004892;
$primary-cta-hover: #002F5F;

/* brainflix */

$primary-text-link: #0095FF;
$primary-hover: #0065AD;

