@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/fonts/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/fonts/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/fonts/AvenirNextLTProDemi.otf");
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: AvenirRegular;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* global */
/* media query for tablet */
/* media query for high px density desktop */
.header {
  background-color: #323232;
  height: 5rem;
  width: 100%;
  text-align: center;
}

.header__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  font-size: unset;
  margin-top: 0;
  margin-bottom: 1rem;
}

.header__title--image {
  width: 7.8125rem;
  margin-top: 0.3125rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  width: 50%;
  color: #afafaf;
  margin: 0;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  border-bottom: 0.25rem solid transparent;
}

.header__nav-item:hover {
  cursor: pointer;
  border-bottom: 0.25rem solid #fff;
}

.header__nav-item.active {
  cursor: pointer;
  border-bottom: 0.25rem solid #fff;
}

.header__nav-item--link {
  text-decoration: none;
  color: unset;
}

@media only screen and (min-width: 768px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.5rem;
  }
  .header__nav-item {
    margin-left: 3.125rem;
    width: 4.375rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
    padding: 1.5938rem 0;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    width: 100%;
    padding-left: 11.25rem;
  }
  .header__nav-item {
    margin-left: 3.5rem;
    width: 5rem;
  }
}

.hero {
  width: 100%;
  height: 57vw;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/Images/hero-image.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/Images/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  color: #fff;
  width: 70%;
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 52vw;
  }
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .hero {
    height: 47vw;
  }
  .hero__title {
    margin-left: 11.25rem;
    width: 45%;
  }
}

.about {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.about__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__image--size {
  width: 90vw;
}

.about__quote {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.about__quote--artist {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

.about__artist {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin: 2.5rem 0 1.5rem;
}

.about__container {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
  font-family: AvenirRegular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__container--paragraph {
  margin-top: 0;
}

.about__container--paragraph.right {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .about {
    margin: 0 1.5rem;
  }
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
  }
  .about__image--size {
    width: 94vw;
    height: 47vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirBold;
  }
  .about__quote--artist {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
    font-family: AvenirDemi;
  }
  .about__artist {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirBold;
  }
  .about__container {
    margin-bottom: 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about__container--paragraph.left {
    margin-right: 0.75rem;
    margin-bottom: 0;
  }
  .about__container--paragraph.right {
    margin-left: 0.75rem;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .about {
    margin: 0 11.25rem;
  }
  .about__title {
    margin: 3rem 0;
  }
  .about__image--size {
    width: 62vw;
    height: 31vw;
  }
  .about__quote {
    margin: 3rem 5.75rem 2.5rem;
  }
  .about__quote--artist {
    margin: 0 5.75rem;
  }
  .about__artist {
    margin: 3.5rem 5.75rem 2rem;
  }
  .about__container {
    margin-bottom: 0;
  }
  .about__container--paragraph {
    width: 29vw;
  }
  .about__container--paragraph.left {
    margin: 0 1.25rem 3rem 5.75rem;
  }
  .about__container--paragraph.right {
    margin: 0 5.75rem 3rem 1.25rem;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  padding-bottom: 2.5rem;
}

.gallery__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__photo {
  width: 90vw;
  height: auto;
  margin-bottom: 1rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.gallery__photo:hover {
  -webkit-filter: unset;
          filter: unset;
}

@media only screen and (min-width: 768px) {
  .gallery {
    padding: 0 1.5rem 1.875rem;
  }
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    margin: 2.5rem 0 3.75rem;
  }
  .gallery__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery__photo {
    width: 29vw;
    height: 16vw;
    margin-bottom: 1.5rem;
  }
  .gallery__photo.center {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .gallery {
    padding: 0 11.25rem 2.5rem;
  }
  .gallery__title {
    margin: 3rem 0 4rem;
  }
  .gallery__photo {
    width: 24vw;
    height: 13vw;
    margin-bottom: 1.5rem;
  }
}

.footer {
  background-color: #323232;
  color: #fafafa;
  padding: 0 1rem 1.875rem;
}

.footer__logo {
  display: none;
}

.footer__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  color: #fafafa;
  padding: 2.5rem 0 1.25rem;
  margin: 0;
}

.footer__icon {
  padding-bottom: 1.25rem;
}

.footer__icon--size {
  margin-right: 1.5rem;
}

.footer__container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

.footer__contact {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
  font-family: AvenirRegular;
  color: #afafaf;
}

.footer__contact .email {
  text-decoration: none;
  color: #afafaf;
}

.footer__copyright {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
  color: #afafaf;
  width: 13.75rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 1.875rem 1.5rem;
  }
  .footer__logo {
    float: right;
    width: 15vw;
    margin-top: 3.125rem;
    display: unset;
  }
  .footer__container-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  .footer__icon {
    padding: 1.5625rem 0 0;
    margin-left: 4.5rem;
  }
  .footer__icon--size {
    width: 3vw;
    height: 3vw;
  }
  .footer__container-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__name {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .footer__contact {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
  }
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: AvenirRegular;
    width: unset;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 3rem 11.25rem 2.5rem;
  }
  .footer__container-top {
    margin-bottom: 3.5rem;
  }
  .footer__logo {
    width: 8vw;
    height: 2vw;
    margin: 0.6875rem 0 0;
  }
  .footer__title {
    padding: 0;
  }
  .footer__icon {
    padding: 0.5rem 0 0;
    margin-left: 5.3125rem;
  }
  .footer__icon--size {
    margin: 0;
    width: 1.5vw;
    height: 1.5vw;
  }
  .footer__icon--size.special {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .footer__container-bottom {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 0 2.5rem;
  }
  .footer__container-bottom--width {
    margin-right: 5rem;
  }
  .footer__name {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .footer__contact {
    margin: 0;
  }
  .footer__contact.email {
    margin-top: 1.875rem;
  }
  .footer__copyright {
    margin: 0;
    padding: 0;
  }
}

.hero-shows {
  background-image: url("../assets/images/mathew-schwartz-5RHbXOXNd5w-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 29.5rem;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero-shows__small-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  padding: 4rem 0 0.625rem;
  margin: 0;
  color: #fafafa;
}

.hero-shows__large-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  padding-bottom: 4rem;
  margin: 0;
  color: #fafafa;
  width: 85%;
}

@media only screen and (min-width: 768px) {
  .hero-shows {
    padding: 0 1.5rem;
    height: 41.875rem;
  }
  .hero-shows__iframe {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .hero-shows__small-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirBold;
    padding: 6rem 0 1.25rem;
  }
  .hero-shows__large-title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-family: AvenirBold;
    width: 70%;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-shows {
    padding: 0 11.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero-shows__container {
    height: 429px;
  }
  .hero-shows__container--bottom {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero-shows__iframe {
    width: 436px;
    height: 146px;
  }
  .hero-shows__small-title {
    padding: 10rem 0 3rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  .hero-shows__large-title {
    margin-right: 4rem;
    width: unset;
  }
}

.shows {
  margin: 2rem 1rem 1.875rem;
}

.shows__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  margin: 0 0 2.5rem;
}

.shows__huge-bottom--header {
  display: none;
}

.shows__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 1.25rem;
}

.shows__div--header {
  margin: 0 0 1rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.shows__div--date {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

.shows__div--venueCityLocation {
  margin: 0 0 2rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
}

.shows__div--button-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: 0.0625rem solid #e1e1e1;
  padding: 0 0 1rem;
}

.shows__div--button {
  background-color: #323232;
  width: 90vw;
  height: 15vw;
  color: #fff;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.shows__div--button:hover {
  cursor: pointer;
  background-color: #000;
}

@media only screen and (min-width: 768px) {
  .shows {
    margin: 0 1.5rem 1.875rem;
  }
  .shows__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    margin: 2.1875rem 0 0;
  }
  .shows__huge-bottom {
    display: unset;
  }
  .shows__huge-bottom--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shows__huge-bottom--header-title {
    color: #afafaf;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
    width: 20vw;
  }
  .shows__huge-bottom--header-title.hidden {
    visibility: hidden;
  }
  .shows__div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 0.0625rem solid #e1e1e1;
  }
  .shows__div--header {
    display: none;
  }
  .shows__div--venueCityLocation, .shows__div--date {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 15vw;
    margin-bottom: 1.5rem;
  }
  .shows__div--button-container {
    border-bottom: unset;
  }
  .shows__div--button {
    width: 20vw;
    height: 5vw;
  }
}

@media only screen and (min-width: 1440px) {
  .shows {
    margin: 0 11.25rem 3.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shows__title {
    margin-top: 3rem;
  }
  .shows__huge-bottom {
    margin-top: 1.25rem;
    margin-left: auto;
  }
  .shows__huge-bottom--header-title {
    margin-bottom: 2.5rem;
    width: 10vw;
  }
  .shows__div {
    width: 56vw;
  }
  .shows__div--venueCityLocation, .shows__div--date {
    width: 10em;
  }
  .shows__div--button {
    width: 11vw;
    height: 3vw;
  }
}

.comments {
  margin: 2rem 1rem 2.5rem;
}

.comments__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  margin-bottom: 2.5rem;
}

.comments__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.0625rem solid #e1e1e1;
  width: 100%;
}

.comments__headshot-position {
  margin: 1rem 1rem 0 0;
}

.comments__headshot-img {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}

.comments__form-container--title {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
}

.comments__form-container--input {
  border-radius: 0.25rem;
  border: 0.0625rem solid #e1e1e1;
  width: 70vw;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comments__form-container--input.small {
  height: 2.5rem;
}

.comments__form-container--input.large {
  height: 7.8125rem;
  resize: vertical;
}

.comments__form-container--input:hover, .comments__form-container--input:focus {
  cursor: pointer;
  border-color: #000;
}

.comments__form-container--button {
  padding-bottom: 2rem;
}

.comments__form-container--button #button {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  border-radius: 0.25rem;
  border: 0.0625rem solid #323232;
  color: #fff;
  background-color: #323232;
  width: 70vw;
  height: 10vw;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.comments__form-container--button #button:hover {
  cursor: pointer;
  background-color: #000;
}

.comments .comments-container__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.0625rem solid #e1e1e1;
}

.comments .comments-container__holder--icon {
  border-radius: 50%;
  background: #e1e1e1;
  width: 3rem;
  height: 3rem;
  margin-top: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.comments .comments-container--holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  margin-bottom: 1.5rem;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.comments .comments-container__name-and-date {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comments .comments-container__name {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-top: 1.5rem;
}

.comments .comments-container__date {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  color: #afafaf;
  font-family: AvenirRegular;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.comments .comments-container__comment {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
  margin: 0;
}

.comments .comments-container__delete {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.comments .comments-container__delete .delete {
  border-radius: 10rem;
  border: 0.0625rem solid #afafaf;
  background-color: #afafaf;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2.5rem 1.5rem;
  }
  .comments__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    margin-bottom: 2.5rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .comments__form {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .comments__form-container {
    width: 70%;
  }
  .comments__form-container--input {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
  }
  .comments__form-container--input.small {
    height: 2.5rem;
  }
  .comments__form-container--input.large {
    height: 5rem;
  }
  .comments__form-container--button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .comments__form-container--button #button {
    width: 11vw;
    height: 3vw;
  }
  .comments .comments-container {
    width: 50%;
  }
  .comments .comments-container__name-and-date {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .comments .comments-container__date {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 1440px) {
  .comments {
    margin: 3rem 11.25rem 2.5rem;
  }
  .comments__form-input {
    width: 32vw;
    margin-bottom: 1.5rem;
  }
  .comments__form-input.small {
    height: 3rem;
  }
  .comments__form-input.large {
    height: 6rem;
  }
  .comments__form-title {
    padding-left: 10.5vw;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .comments__form-button {
    padding-right: 10.5vw;
  }
  .comments .comments-container {
    width: 37vw;
  }
  .comments .comments-container__holder--icon {
    margin-top: 1.5rem;
    margin-right: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */